body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141E30, #243B55);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00c6ff;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00a2cc;
}

.safe {
    color: #00ff88;
}

.danger {
    color: #ff4c4c;
}